<h1><p1 style="color:#BE3D21";><center> <%= @story.title %> </center></p1></h1>
<center><h3>State: <%= link_to @story.location.state, location_path(@story.location_id) %> </h3></center>
<center><h3>by <%= link_to @story.user.username, user_path(@story.user_id) %> </h3></center>
<br>
<br>
<body> <%= @story.body%> </body>
<hr>
<br>
<%= button_to "Edit this masterpiece", edit_story_path, :method => :get%>
<br>
<%= button_to "Exterminate this abomination", story_path(@story), :method => :delete %>
<br>
<%= button_to "List of stories", stories_path, :method => :get %>
